boto3
chromadb
llama-index
llama-index-readers-athena
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-chroma
openai
streamlit
tiktoken
pandas
pyiceberg[s3fs,glue,pandas]
langchain
langchain-community
langchain-openai