llama-index
llama-index-readers-iceberg
llama-index-readers-athena
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-pinecone
openai
streamlit
pandas

pinecone-client
pinecone-plugin-inference